target_aws_account_id = "357171621133"

# =============================================
# S3 Replication Values (prefix: s3repl_)
# =============================================
s3repl_iam_role_name              = "tf-iam-role-xxxxx-xxxxx"
s3repl_assume_role_service        = "s3.amazonaws.com"
s3repl_assume_role_action         = "sts:AssumeRole"
s3repl_iam_policy_name            = "tf-iam-role-policy-xxxxx-xxxxx"
s3repl_source_bucket_actions      = ["s3:ListBucket", "s3:GetReplicationConfiguration"]
s3repl_source_object_actions      = ["s3:GetObjectVersionForReplication", "s3:GetObjectVersionAcl"]
s3repl_destination_actions        = [
  "s3:ReplicateObject",
  "s3:ReplicateDelete",
  "s3:ReplicateTags",
  "s3:GetObjectVersionTagging"
]
s3repl_destination_bucket_name    = "tf-bucket-xxxxx-xxxxx"
s3repl_source_bucket_name         = "tf-bucket-xxxxx-xxxxx"
s3repl_source_bucket_acl          = "private"
s3repl_versioning_enabled         = true
s3repl_rule_id                    = "foobar"
s3repl_rule_prefix                = "foo"
s3repl_rule_status                = "Enabled"
s3repl_destination_storage_class  = "STANDARD"

# Lambda
lambda_archive_type            = "zip"
lambda_source_file_path        = "Project/Lambda/hello.js"
lambda_zip_output_name         = "Project/Lambda/hello.zip"
lambda_s3_bucket_name          = "quicksantsabucket001"
lambda_s3_bucket_tag_name      = "santsabucket-1"
lambda_s3_object_key           = "hello.zip"
lambda_iam_role_name           = "lambda_role"
lambda_assume_role_policy_path = "Project/Lambda/lambda_assume_role_policy.json"
lambda_iam_policy_name         = "lambda_policy"
lambda_policy_path             = "Project/Lambda/lambda_policy.json"
lambda_function_name           = "hello"
lambda_handler                 = "hello.handler"
lambda_runtime                 = "nodejs22.x"

# Lambda Layer
lambda_layer_archive_type        = "zip"
lambda_layer_source_dir          = "Project/LambdaLayer"
lambda_layer_output_zip          = "Project/LambdaLayer/hello_layer.zip"
lambda_layer_name                = "hello-world-layer"
lambda_layer_compatible_runtimes = ["python3.9", "python3.10", "python3.11", "python3.12"]
lambda_layer_description         = "Layer with hello_world utility function"